
<div id="removeongame" class="removeongame">
	<% if  @questions_hash.to_s != '{"level1"=>{"question1"=>{}, "question2"=>{}, "question3"=>{}, "question4"=>{}}, "level2"=>{"question1"=>{}, "question2"=>{}, "question3"=>{}, "question4"=>{}}, "level3"=>{"question1"=>{}, "question2"=>{}, "question3"=>{}, "question4"=>{}}, "level4"=>{"question1"=>{}, "question2"=>{}, "question3"=>{}, "question4"=>{}}, "level5"=>{"question1"=>{}, "question2"=>{}, "question3"=>{}, "question4"=>{}}, "level6"=>{"question1"=>{}, "question2"=>{}, "question3"=>{}, "question4"=>{}}}' %>
<div class="col-md-6 col-md-offset-3 well">
<div id="message_top"> </div>
	<% cnt = 0 %>
<% @questions_hash.each do |level| %> 
<% if level[1]["question1"].to_s != "{}" || level[1]["question2"].to_s != "{}" || level[1]["question3"].to_s != "{}" || level[1]["question4"].to_s != "{}"  %> 
<% level[1].each do |question| %>
			<% if  question[1]["question_text"].to_s.strip != "" %>
			<% cnt = cnt + 1 %>
			<form class="question" id="<%= "question" + cnt.to_s %>">

			<h3><%= question[1]["question_text"] %> </h3> 
			<p> 	<%= question[1]["description"] %> </p> 
					 <%= radio_button("quiz", "level", "option1" ) %>
					 		    <%= question[1]["option1"] %><br/>
					 <%= radio_button("quiz", "level", "option2" ) %>
					 			<%= question[1]["option2"] %><br/>
					 <%= radio_button("quiz", "level", "option3" ) %>
					 			<%= question[1]["option3"] %><br/>
					 <%= radio_button("quiz", "level", "option4" ) %>
					 			<%= question[1]["option4"] %><br/>

			<span style="display:none;" id="answer"><%= question[1].to_s.split('"correct_answer"=>"on",')[1].to_s[2..8] %>
			</span>
			<div id="solution" class="alert alert-info" style="display:none;">
								<%= question[1]["solution"] if question[1]["solution"] != "" %>
</div>
<div id="message"> </div>
			</form>
			<% end %>

<% end %>
<% end %>
<% end %>

<%= link_to "Sumbit Quiz" , note_display_quiz_result_path(@note) , :method => :post , :class => 'btn btn-success pull-right' , remote: true  %><br/><br/>
</div>
<% else %> 
	<div class="col-md-10 col-md-offset-1">
<br/>
 <div class="alert alert-warning"><center><h3> No Quiz for this note! </h3></center></div>
</div>
<% end %>

</div>