<script type="text/javascript">
    var engine = new Bloodhound({
  
  datumTokenizer: function(d) {
    return Bloodhound.tokenizers.obj.whitespace(d.name);
  },
  queryTokenizer: Bloodhound.tokenizers.whitespace,
   remote: {
    url: '/profiles/intrests/%QUERY.json',
     filter: function (engine) {
            // Map the remote source JSON array to a JavaScript object array
            return $.map(engine, function (intrest) {
                return {
                    value: intrest.name
                };
            });
        }
  }
});
engine.initialize();
$('#prerequisites').tokenfield({
  typeahead: [null, { displayKey: 'value', source: engine.ttAdapter() }]
});
$('#prerequisites').on('tokenfield:createtoken', function (event) {
    var existingTokens = $(this).tokenfield('getTokens');
    $.each(existingTokens, function(index, token) {
        if (token.value === event.attrs.value)
            event.preventDefault();
    });
  });
    
    
 
</script>

<center><h1>create new note</h1></center>
 <%= form_for @note  do |naw| %>
         
<div style="padding-left:15px; padding-right:15px;" class="row">
<% if @note.errors.any? %>
    <div id="error_explanation" class="alert alert-error" >
      <h4>
       <%=  pluralize(@note.errors.count, "error")  %> has been incurred
        
      </h4>
      <ul>
        <% @note.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

             Title
        <%= naw.text_field :name , :class => 'form-control'  %>
         Note from author <br>
    <%= naw.text_area :note_from_author , :"data-toggle" => "tooltip" , :"data-html" => "true" , :"data-placement" => "left" , :title => "tell users wether the note requires any prerequisites and what is purpose for creating this note." , :class => 'form-control' %>
              
    
    
              Labels <br>

    <%= naw.text_field :tag_list ,  :rows => "7" , :id => 'prerequisites' , :"data-toggle" => "tooltip" , :"data-html" => "true" , :"data-placement" => "left" , :title => "tell the branch, this note belongs to. example maths, programming, history etc " %>
            
    




   
</div>
</div>
     
     



<div id="note-wrapper">
<%= naw.fields_for :notewidgets do |builder| %>

        <%= render 'notes/partials/widgets/widget', f: builder %> <br/>

<% end %> 


</div>
Add widget to Note:-    <br/> <br/>   
<ul class="nav nav-pills">
 <li role="presentation">
               <%= link_to_add_association 'Add Article', naw, :notewidgets  , :partial => 'notes/partials/widgets/widget' , :'data-association-insertion-method' => 'append' , :'data-association-insertion-node' => '#note-wrapper' %>
</li>
<li role="presentation">
               <%= link_to_add_association 'Add Question', naw, :notewidgets  , :partial => 'notes/partials/widgets/exercise' , :'data-association-insertion-method' => 'append' , :'data-association-insertion-node' => '#note-wrapper' %>
</li>
</ul>
    


        <%= naw.submit "Create Note" , {:class => 'btn btn-primary btn-lg pull-right'} %>

  <% end %>
 </div>


