<center>
<ul class="breadcrumb">
	 <li><%= link_to "All",  all_profile_path(User.friendly.find(params[:id])) , remote: true  %></li>
<li><%= link_to "Created",  created_profile_path(User.friendly.find(params[:id])) , remote: true  %>  </li>

<li><%= link_to "Upvoted",  upvoted_profile_path(User.friendly.find(params[:id])), remote: true  %></li>
<li><%= link_to "Posted",  commented_profile_path(User.friendly.find(params[:id])) , remote: true  %></li>

</ul>
</center>

<div id="loadfeed"> <%= render("/profiles/partials/all_profile") %>
</div>

