	<% if @allfollowers.count > 1 %> <center> <h3> people following @<%= @user.username %>  </h3></center>
	<% else %>
<center> <h3> @<%= @user.username %> has no followers    </h3></center>
  

<% end %>



<% @allfollowers.in_groups_of(3, false).each do |group| %>

  <div class='row'>
<br/>
	









    <% group.each do |fol| %>
<% if fol.following.id != @user.id %>
<div class="col-md-4">
<%= link_to '@'+fol.following.username , profile_path(fol.following) %> 
 <b> <%= fol.following.name %>	</b><br/>

<table>
<tr>
<td valign="top">

	<%= attachment_image_tag(fol.following, :image, :fill, 100, 100 ,fallback: "deafult-pic-100.png") %>

</td>
<td style="padding-left:10px;" valign="top">
		

 		<% if fol.following.intrested_in != '' and fol.following.intrested_in != nil %>
 			<b>intrested_in: </b>
			<%= fol.following.intrested_in %>
		<% end %>
	</td>
</tr>
</table>
<% if current_user == @user %>
<center>
	<div id="<%= fol.following.slug %>">
		<% if  Relationship.joins('
INNER JOIN users
ON relationships.follower_id = users.id
WHERE relationships.following_id = '+current_user.id.to_s + ' AND relationships.follower_id = '+ fol.following.id.to_s).count == 1 %>
           <% if  Relationship.joins('
INNER JOIN users
ON relationships.follower_id = users.id
WHERE relationships.follower_id = '+current_user.id.to_s + ' AND relationships.following_id = '+ fol.following.id.to_s).count == 1 %>
<%= button_to "unfollow" , destroy_follow_user_feed_path(fol.following)   , {class: 'btn btn-danger' ,:method => :put , :id => 'unfollowi' , remote: true} %>
           <%else %>
<%= button_to "follow back" , follow_user_feed_path(fol.following)   , {class: 'btn btn-primary' ,:method => :put , :id => 'followi' , remote: true} %>

           <% end %>

	
   <% end %>
   </div>
</center>
<% end %>



 </div>
 <% end %>
 <% end %>
 </div>
<% end%>
