
<div id="new-edit">

  <div class="row row-eq-height">
        <div class="col-xs-3">
<%= image_tag @user.avatar.url(:medium) , :class => 'img-circle pull-right' %>
</div>
 <div class="col-xs-4" style="padding-left:8px">
    <p class="lead" style="margin:0px; padding:0px;">
                        <% if @user.username != nil%>
                        @<%= @user.username %>
                        <% end %>
                        </h3>


                         <p style="margin:0px; padding:0px;" class="lead">  
                         <%=@user.name %>
                         </br>
                         
                        </p>
     <p  class="desc_profile" style="margin:0px; padding:0px;">
<%= @user.description %>
     </p>
     <% if @user.description.to_s == '' && current_user == @user %> 
    <span class="label label-warning">    
    <%= link_to edit_profile_path(current_user) ,id: 'edit-link' , remote: true do %>
You have not filled your description.Complete profile. 
     <span class="glyphicon glyphicon-edit" ></span> <% end %>
  </span>

     <% end %>


                            

                            
                           


                      </div>
        <div class="col-xs-5 row-it-equal">
<% if @user.intrested_in != ''  and @user.intrested_in != nil %>
     <br/>
                                <p style="margin:0px; padding:0px;" class="lead">intrested in :<%=  %>
                        </p>
                        <% @alllabels =  @user.intrested_in.split(",") %>
                        <% @alllabels.each do |lab| %>
                              <span class="badge intrest_in"> <%= lab %>  </span>
                              &nbsp;&nbsp;

                        <% end %>

                       
                        <% end %>
        </div>
   </div>

		</div>

