
<div id="new-edit">

  <div class="row eq-height">
        <div class="col-xs-3">
<%= image_tag @user.avatar.url(:medium) %>
</div>
 <div class="col-xs-4 row-it-equal" style="padding-left:8px">
    <h3 style="margin:0px; padding:0px;">
                        <% if @user.username != '' and @user.username != nil%>
                        @<%= @user.username %>
                        <% end %>
                        </h3>


                        <% if @user.name == nil && current_user == @user %>
                         <button class="btn btn-large" type="button">complete profile</button>
                         <% else %>

                         <p style="margin:0px; padding:0px;" class="lead">  
                         <%=@user.name %>
                         </br>
                         
                        </p>

     <p  class="desc_profile" style="margin:0px; padding:0px;">
<%= @user.description %>
     </p>  


                            

                            
                           


                        <%end%>
                      </div>
        <div class="col-xs-5 row-it-equal">
<% if @user.intrested_in != ''  and @user.intrested_in != nil %>
     <br/>
                                <p style="margin:0px; padding:0px;" class="lead">intrested in :<%=  %>
                        </p>
                        <% @alllabels =  @user.intrested_in.split(",") %>
                        <% @alllabels.each do |lab| %>
                              <span class="badge intrest_in"> <%= lab %>  </span>
                              &nbsp;&nbsp;

                        <% end %>

                       
                        <% end %>
        </div>
   </div>

		</div>

