  <div class="exercise-wrapper">
  <%= f.label :"Add Question" %>
  <%= f.text_field :set_type , :value => "question" , :style => "display:none;" %>  

  <div class="row"> 

<div class="col-md-2"> <b>Type Question  </b></div>
<div class="col-md-10"> <%= f.text_area :tag_one  , :class => "form-control" %> </div>
</div> <br/>
<div class="row">
<div class="col-md-2"> <b> Hint </b> </div>
<div class="col-md-10"><%= f.text_area :tag_two , :class => "form-control" %> </div>
</div> <br/>
<div class="row">

  <%= f.radio_button :tag_three, 'option3' , :style => 'display:none'  %>
  <%= f.radio_button :tag_three, 'option4' , :style => 'display:none'  %>

<div class="col-md-2"> <b> Option 1 </b></div>
<div class="col-md-4"> 
<div class="input-group"> <span class="input-group-addon"> 
  <%= f.radio_button :tag_three, 'option1'  %>

 </span> 
<%= f.text_field :tag_four , :class => "form-control"%>
 </div>


</div> 
<div class="col-md-2"> <b> Option 2 </b></div>
<div class="col-md-4"> 
<div class="input-group"> <span class="input-group-addon"> 
  <%= f.radio_button :tag_three, 'option2'  %>

 </span> 
<%= f.text_field :tag_five , :class => "form-control"%>
 </div>
</div>
 </div><br/>
 <div class="row">
 <div class="col-md-2"> <b> Option 3 </b></div>
<div class="col-md-4"> 
<div class="input-group"> <span class="input-group-addon"> 
  <%= f.radio_button :tag_three, 'option3'  %>

 </span> 
<%= f.text_field :tag_six , :class => "form-control"%>
 </div>
</div>
 <div class="col-md-2"> <b> Option 4 </b></div>
<div class="col-md-4"> <div class="input-group"> <span class="input-group-addon"> 
  <%= f.radio_button :tag_three, 'option4'  %>

 </span> 
<%= f.text_field :tag_seven , :class => "form-control"%>
 </div></div>
 
 </div> <br/>
 <div class="row"> 

<div class="col-md-2"> <b> Explain Solution  </b></div>
<div class="col-md-10"> <%= f.text_area :tag_eight  , :class => "form-control" %> </div>
</div>


  <%= link_to_remove_association "Remove Question", f , {wrapper_class: 'exercise-wrapper' ,  :class => 'btn btn-danger'} %>
<br/> <br/>
</div>