
<div style="border-left" class="col-md-4">
<% if !current_user %>
<div class="account-wall panel">
 <h1 class="text-center login-title">Sign in to continue to Edunova</h1>
<%= form_for resource,   as: resource_name , url: session_path(resource_name) , html: { class: "form-signin" }  do |f| %>
 <%= render "devise/shared/links" %>

<% if alert %>
<br/>
<p class="alert alert-danger">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>

  <%= alert %></p>
<% end %>
    <%= f.email_field :email, autofocus: true , :class =>'form-control' , :placeholder => 'Email or Username '%>

    <%= f.password_field :password, autocomplete: "off" ,  :class =>'form-control' , :placeholder => 'Password' %>
  



    <%= f.submit "Log in" ,  :class =>'btn btn-lg btn-primary btn-block' %>
<% if devise_mapping.rememberable? -%>
                <label class="checkbox pull-left">

      <%= f.check_box :remember_me %>
       Remember me
    </label>
      <% end -%>
<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot password?", new_password_path(resource_name) , :class => "pull-right need-help" %><span class="clearfix"></span> 
<% end -%>
<% end %>

 <form class="form-signin">
            <%= link_to "Sign Up Via Email", new_user_registration_path ,:class => 'btn btn-block btn-success'  %>
            
<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) , :class => 'pull-right need-help' %><span class="clearfix"></span>
<% end -%>
            </form>

</div>

<% else %>
<div class="panel panel-home" >
  <table style="width: 100%">
<tr>
  <td>
    <h3>notifications  
 <span id="unread_count" class="badge"><%= @unread_count %></span>
    </h3>
  </td>
  <td align="right" valign="bottom">
<%= link_to "mark as read" , home_mark_as_read_path , :method => :put ,:remote => 'true' %>  </td>
</tr>
</table>
<div class="list-group">
  <% if @notifications.count == 0 %>
  <div class="alert alert-success" role="alert">
hey! no notifications right now. 
</div>
<div class="alert alert-warning" role="alert">
 new to edunova.io? learn how to use it.


  </div>

  <% end %>
  <div id="heretoappendnoti">
<%= render ("/home/partials/notifications") %>
</div>

</div>
</div>
<% end %>
</div>
<div class="col-md-8">
<div class="panel panel-home"> 
<% if current_user %>
<div class="alert alert-success"> 
Welcome <b> <%= current_user.name %>  </b> <span class="pull-right">

 <% if current_user.user_type == "tutor" %>  
 Teacher Portal
 <% else %>
 Grade 9th
 <% end %> </span>
</div>
<% end %>
<div id="tag_cloud">
  <% tag_cloud Note.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name.to_s + "(" +tag.count.to_s + ")", tag_path(tag.name), class: css_class %>  &nbsp;&nbsp; 
  <% end %>
</div>
<% @notes_filter.each do |note| %>
<h3> <%= link_to note.name , note_path(note) %> </h3>
<%= simple_format note.note_from_author %>
Labels: <%= raw note.tag_list.map { |t| link_to t, tag_path(t) }.join(' , ') %>

<% end %>


</div>

</div>