	<% if @allfollowing.count > 1 %>	
		<center> <h3> people you are following   </h3></center>
	<% end %>

<% @allfollowing.in_groups_of(3, false).each do |group| %>
  <div class='row'>
<br/>
		
		
    <% group.each do |fol| %>

			<% if fol.follower.id != current_user.id %>
					<div class="col-md-4">
					<%= link_to '@'+fol.follower.username , profile_path(fol.follower) %> 
					<b><%= fol.follower.name %></b>	<br/>
					<table>
					<tr>
					<td valign="top">

						<%= attachment_image_tag(fol.follower, :image, :fill, 100, 100 ,fallback: "deafult-pic-100.png" , :class => 'img-circle') %>

					</td>
					<td style="padding-left:10px;" valign="top">
					

 					<% if fol.follower.intrested_in != '' and fol.follower.intrested_in != nil %>
 					<b>intrested_in: </b>
					<%= fol.follower.intrested_in %>
					<% end %>
	</td>
</tr>
</table>
	<center>
		<div id="<%= fol.follower.slug %>">
		<%= button_to  destroy_follow_user_feed_path(fol.follower)   , {class: 'btn btn-danger' ,:method => :put , :id => 'unfollowi' , remote: true} do  %> <i class="glyphicon glyphicon-remove"> </i> Unfollow 
		<% end %>
	   </div>
	</center>



</div>
<% end %>

<% end %>
<% end %>

<% if @allfollowing.count <= 1 %> 
<center><h3>you are following no one right now.</h3></center>
<% end %>	