
<div class="list-group">
 



<% if @notes_filter.count == 0 %>
<div class="alert alert-warning" role="alert">
	No notes were shown for this criteria.
</div>
<% else %>


<% @notes_filter.each do |note| %>
 <a style="cursor:pointer;" class="list-group-item" type="button" data-toggle="collapse" data-target="#<%= note.id %>" aria-expanded="false" aria-controls="collapseExample">
    <h4 class="list-group-item-heading"><%= note.name %> <% if note.description.to_s == "insight" %><span style="background-color: #337AB7;" class="badge pull-right">Insight Note</span> <% end %>
</h4>
    <p class="list-group-item-text">
    	 by <b> @<%= note.user.username %> </b> <span class="pull-right"> <span class="badge"><%= note.get_upvotes.size %> votes </span>

<span class="badge"><%= note.comments.count %> 
    	  posts </span> </span>


    </p>
  </a>

<div class="collapse collapseact" id="<%= note.id %>">
   <% if !note.prereq || note.prereq != '' %>
lables: <% labelss = note.prereq.split(",") %>
<% labelss.each do |la| %>
<%= link_to '#' + la.strip , home_edunova_activity_path(:search => la.strip , :via_link => 'true') , :remote => true %>
<% end %>
 <br/>
   <% end %>
<%= note.note_from_author %> <br/>
<center><%= link_to note_path(note) , :class => 'btn btn-success' do %> 
 <% if note.description.to_s == "insight" %>read insight <% else %> <span class="glyphicon glyphicon-play-circle"></span>
 play  note <% end %><% end %> </center>

  
</div>
<% end %>
<%= js_will_paginate @notes_filter %>  

<% end %>
</div>
